:root {
  --color-theme-light-bg-body: #cccccc;
  --color-theme-light-bg: #ffffff;
  --color-theme-light-text: #000000;
  --color-theme-light-text-secondary: #2e2e2e;
  --color-theme-light-primary: #8cc970;
  --color-theme-light-primary-darkness: #77aa5f;
  --color-theme-light-secondary: #7f55ff;
  --color-theme-light-secondary-darkness: #5d2fe3;
  --color-theme-light-warning: #df3434;
  --color-theme-dark-bg-body: #222222;
  --color-theme-dark-bg: #000000;
  --color-theme-dark-text: #ffffff;
  --color-theme-dark-text-secondary: #9e9e9e;
  --color-theme-dark-primary: #8cc970;
  --color-theme-dark-primary-darkness: #77aa5f;
  --color-theme-dark-secondary: #7f55ff;
  --color-theme-dark-secondary-darkness: #5d2fe3;
  --color-theme-dark-warning: #df3434;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
